@charset "utf-8";

/* Common */
body,
p,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
li,
dl,
dt,
dd,
table,
th,
td,
form,
fieldset,
legend,
input,
textarea,
button,
select {
    margin: 0;
    padding: 0
}

body,
input,
textarea,
select,
button,
table {
    font-size: 10px
}

img,
fieldset {
    border: 0
}

ul,
ol {
    list-style: none
}

em,
address {
    font-style: normal
}

a,
button {
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
}

a:hover,
a:active,
a:focus {
    text-decoration: underline
}

body {
    width: 100%;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

#wrap {
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    font-size: 1.4px;
    position: relative;
}



li {
    list-style: none;
}

ul {
    margin: 0;
    list-style: none;
    padding: 0;
}

p {
    padding: 0;
    margin: 0;
}

dd,
dl {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    margin: 0;
    padding: 0;
}

input[type=checkbox] {
    cursor: pointer;
}

/* 링크 스타일 */

a {
    text-decoration: none;
    cursor: pointer;
    color: inherit;
}

a:hover {
    text-decoration: none;
    cursor: pointer;
    color: inherit;
}

/* 공통 스타일 */

.clearfix::after {
    content: "";
    clear: both;
    display: block;
}

@media (max-width: 768px) {
    .gift_show_container {
        max-width: 100%;
        padding: 0px;
        margin: 0px;
        width: 100%;
        background-color: #fff;
    }

    /* 해더 카테고리 영역 */
    .gift_show_container .header_category {
        font-size: 13px;
        margin-top: 30px;
    }

    .gift_show_container .header_category .hc_top {
        text-align: center;
        padding: 10px 15px;
        border-bottom: 1px solid #000;
    }

    .gift_show_container .header_category .hc_bottom {
        text-align: center;
        padding: 10px 20px;
    }

    .gift_show_container .header_category .hc_top li,
    .gift_show_container .header_category .hc_bottom li {
        display: inline-block;
        width: 32.33%;
    }

    /* 메인 영역 */
    .gift_show_container .main {
        overflow: hidden;
        display: table;
        padding: 10px;
        background: #fff;
        width: 100%;
    }

    .gift_show_container .main .main_contnets {
        margin: 15px auto;
        position: relative;
        width: 100%;
        display: table;
        text-align: center;
        padding: 0 20px;
        background: #fff;
    }

    .gift_show_container .main .main_left_contents,
    .gift_show_container .main .main_right_contents {
        text-align: center;
        float: left;
        width: 50%;
        display: inline-table;
        padding: 10px;
    }

    .gift_show_container .main .main_left_contents .content_img,
    .gift_show_container .main .main_right_contents .content_img {
        margin: auto;
        width: 100%;
        position: relative;
        height: 140px;
        max-height: 140px;
    }

    .gift_show_container .main .main_left_contents img,
    .gift_show_container .main .main_right_contents img {
        width: 100%;
        height: auto;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        max-height: 100%;
    }

    .gift_show_container .main .main_left_contents .content_text,
    .gift_show_container .main .main_right_contents .content_text {
        color: #575656;
        font-size: 12px;
        border-bottom: 1px solid #575656;
        text-align: center;
        margin: 10px auto;
        padding-bottom: 10px;
    }
}